fastapi
uvicorn
fsspec
xarray
s3fs
zarr<3
scipy
pyarrow
pymongo
requests
# torch
# torchmetrics
numpy
# install latest due to this issue: https://github.com/deepcharles/ruptures/issues/351
ruptures @ git+https://github.com/deepcharles/ruptures.git@master
scikit-learn
celery[redis]
pillow
hmmlearn
uda
pytest
mkdocs
mkdocs-material
